node_modules/
./node_modules/*
dist/
test
build/
/src/components
/src/wxcomponents
/src/unpackage
uni.scss
/src/api/MockModel.js
/src/config.js
/src/static/
/src/common/
/src/lib/
/src/network
*.md
*.json
*.ttf
*.scss
*.png
*.jpg
*.html
.hbuilderx
pages.json
src/components/u-charts/u-charts.js
/src/utils/utils/js
/output.js  // 忽略通过命令行 vue inspect>output.js
output.js
